hr {
  color: #1cb1ab;
  border-color: #1cb1ab;
  background: #1cb1ab;
}

::placeholder {
  color: #1cb1ab;
}
.container {
  max-width: 600px;
  margin: 30px auto;
}
.search-engine {
  max-width: 300px;
  display: block;
  text-align: center;
  margin: auto;
}
.nform3 {
  max-width: 400px;
  display: block;
  text-align: center;
}
.weather-app {
  border: 2px solid #1cb1ab;
  border-radius: 20px;

  padding: 20px;
}
.page-share {
  display: line;
  text-align: right;
  color: #1cb1ab;
}

.search-city {
  text-align: center;
}
.enter-city {
  border: 1px solid #1cb1ab;
  border-radius: 20px;
  margin: 0 auto;
  padding: 5px 10px;

  background-color: #e1f4f6;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 255px;
}

#button {
  background: #1cb1ab;
  color: #e1f4f6;
}
.now {
  text-align: center;
  font-family: "Kalam", cursive;
}

.emoji-now {
  text-align: right;
  font-size: 100px;
}
.temperature-now {
  text-align: center;
  font-size: 25px;
  font-family: "Kalam", cursive;
  padding-left: 0;
  color: #1cb1ab;
}

.row-weather {
  display: block;
  border-left: 1px solid #1cb1ab;
  padding-left: 20px;
  margin-top: 40px;
  font-size: 14px;
  font-family: "Kalam", cursive;
}

.row-inner {
  text-align: center;
}
#current-temperature {
  font-size: 95px;
  color: rgba(53, 35, 38, 0.836);
}

#cityDisplayed {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: 38px;
  color: #1cb1ab;
  font-family: "Kalam", cursive;
}
