hr {
  color: #1cb1ab;
  border-color: #1cb1ab;
  background: #1cb1ab;
}

::placeholder {
  color: #1cb1ab;
}
.container {
  max-width: 600px;
  margin: 30px auto;
}
.search-engine {
  max-width: 300px;
  display: block;
  text-align: center;
  margin: auto;
}

.weather-app {
  border: 2px solid #1cb1ab;
  border-radius: 20px;

  padding: 20px;
}
.page-share {
  display: line;
  text-align: right;
  color: #1cb1ab;
}

.search-city {
  text-align: center;
}
.form-control {
  border: 1px solid #1cb1ab;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 10px;

  background-color: #e1f4f6;
  text-align: center;

  top: 40px;
  left: 255px;
}

#button1 {
  background: #1cb1ab;
  color: #e1f4f6;
  border-radius: 20px;
  border: none;
  margin: 0px 2px 0px 0px;
}
#button2 {
  color: red;
  border-color: #1cb1ab;
  border-radius: 20px;
}
.now {
  text-align: center;
  font-family: "Kalam", cursive;
}

#icon-now {
  text-align: left;
  font-size: 150px;
}
.temperature-now {
  text-align: center;
  font-size: 25px;
  font-family: "Kalam", cursive;
  padding-left: 0;
  color: #1cb1ab;
}

.row-weather {
  display: block;
  border-left: 1px solid #1cb1ab;
  padding-left: 20px;
  margin-top: 40px;
  font-size: 14px;
  font-family: "Kalam", cursive;
}

.row-inner {
  text-align: center;
}
#current-temperature {
  font-size: 95px;
  color: rgba(53, 35, 38, 0.836);
}

#cityDisplayed {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
  color: #1cb1ab;
  font-family: "Kalam", cursive;
}
